.container {
    text-align: center;

    h1 {
        margin-bottom: 2rem;
    }
}

.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
