.container {
    text-align: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 3rem;
        justify-content: center;
    }

    img {
        width: 120px;
        height: 120px;
    }

    button {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }
}

.nothing {
    margin: 2rem;
}