.container {
    ul {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    img {
        width: 120px;
        height: 120px;
    }

    button {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }
}