@use 'src/assets/styles/variables' as *;

.emptyShelfBack {
    width: 124px;
    height: 136px;
    background-color: $brown;
}

.emptyShelfShadow {
    height: 0.4rem;
    width: 124px;
    background-color: $dark-brown;
}

.emptyShelfFloor {
    height: 1.3rem;
    width: 124px;
    background-color: $light-brown;
}