@use 'src/assets/styles/variables' as *;

.container {
    div {
        margin: 10px;
        background-color: $background-dark;
    }

    button {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }
}