// Colours
$background: #3D4435;
$background-dark: #262922;
$font: white;
$buttons: #ED31A2;
$buttons-dark: #c8388e;
$modal: #f1eedb;
$lime: #8e9f59;

// Shelf
$brown: #83725B;
$light-brown: #A69173;
$dark-brown: #635B50;
$lighter-brown: #c2af91;

// $brown: #826946;
// $light-brown: #b69669;
// $dark-brown: #635B50;